
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Agorà</h1>
      <div class="alert alert-secondary" role="alert">
        <p class="lead">Tired of Linkedin?</p>
        <p class="lead">Agorà is the solution!</p>
        <p class="lead">The new student's reference point to get engaged and express theirself!</p>
      </div>
      <p class="lead">Developed by @AndreaFresa @AndreaPinto</p>
    </main>
  </div>
</body>